# Environnement virtuel
.venv/

# Fichiers système Mac
.DS_Store

# Fichiers Python générés
__pycache__/
*.py[cod]
*$py.class

# Données
data/

# Fiche d'auto-évaluation
auto-eval.pdf

/logs
.coverage
htmlcov/

# Fichiers VSCode
.vscode/

#fichier d'Environnement
.env